@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

li, a{
    text-decoration: none;
}
li{
    list-style: none;
}
.dropdown > .dropdown_two { 
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.2);
    box-shadow: #0096E7;
    position: absolute;
    padding: 0px;
    visibility: hidden; 
    opacity: 0; 
    z-index: 10; 
    transition: all 300ms ease;
  }
.dropdown:hover > .dropdown_two {
    visibility: visible;
    background-color:rgba(251, 211, 219, 0.479);
    opacity: 1; 
}
.nav_drop{
    display: flex;
    justify-content: center;
}
.category_drop{
    margin-right: 20px;
}
.a_dropdown{
    color: black;
    text-transform: uppercase;
    display: block;
    width: 100%;
    height: 100%;
}

.color {
    color: #000000;
}

.a_dropdown:hover{
    background:rgb(249, 161, 179) ;

}

#dropdown .nav_drop .dropdown:hover {
    background:rgba(251, 211, 219, 0.479); 
    backdrop-filter: brightness(50%);
}

.a_dropdown a{
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


   

   

