.left{
    width: 49%;
    display: inline-block;
    
}

.right{
    width: 49%;
    display: inline-block;
    text-align: right;

    
    }


footer {
    margin: 20px;
    div{ 
        vertical-align: top;
    }
}