footer {
    background-color: #cfc6db;
  
}


#footer_info{
    display: grid;
    width: 90%;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 2em;

    a{
        display: block;
        padding-top: 0.5em;
    }
    #pago{
        display: grid;
        text-align: center;
        row-gap: 30px;
        
    }
    #cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
       
        
  }
    
    
    div {
        
        padding-left: 1.2em;
    }
    
    img{
        width: 70px;
    }
    #registro p{padding-top: 0.5em;
        }

}
#legal{
    text-align: center;
    padding-top: 3em;
   p{ padding-top: 0.5em;
   }

}
