footer {
    
    background-color: #cfc6db;
    font-family: 'Poppins';
  
}


#footer_info{
    display: grid;
    width: 1400px;
    grid-template-columns: 1.3fr 1fr 1fr 1fr;
    margin: auto;
    padding-top: 2em;

    a{
        display: block;
        padding-top: 0.5em;
    }
    #pago{
        padding-right: 30px;
        padding-top: 20px;
        display: grid;
        
        row-gap: 30px;
        #cards{
             img {
                width: 50px;
            }
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            
        } 
        #apps{
            display: grid;
            grid-template-columns: 0.5fr 0.55fr;
            column-gap: 40px;
            

        }
        
  }
    

  #online_payments {
    img {
        height: 30px;
        text-align: justify;

    }
    display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 10px;
           
        
  }
    
    img{
        ;
        margin:auto;
    }
    #registro p{padding-top: 0.5em;
        }

    div{
        padding-left: 20px;
        padding-right: 20px;
    }

}
#legal{
    text-align: center;
    padding-top: 3em;
   p{ padding-top: 0.5em;
   }

}
