@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yellowtail&display=swap');


.menu {
    color:  white;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 1.5rem;
}

.bar {
backdrop-filter: brightness(50%);
padding: 0px;
border-bottom: 1px solid white;
border-top: 1px solid white;

}
.logo {
    background-image: url(../../public/assets/img/logo_disneyStore_blanco.svg);
    background-repeat: no-repeat;
    padding: 30px;
}