@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.header {
  background-image: url(../../public/assets/img/portada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 780px;
}

.header_navs {
  padding: 30px;
}

.header_products {
  background-image: url(../../public/assets/img/44100_q124_hp_wk3_mc_plush_promo_tb.webp);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  height: 400px;
}

.nav {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
  padding: 20px;
}

.header_navs {
  display: grid;
  grid-template-columns: 50% 50%;
  color: white;
}

.nav_secundary {
  display: grid;
  justify-items: end;
}

.title {
  margin-top: 17rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.button {
  backdrop-filter: brightness(50%);
  color: white;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid white;
  margin-top: 80px;
  text-decoration: none;
}

body {
  background-color: #ffffff;
}

#index__main {
  flex-direction: column;
}

#products {
  background-color: white;
  filter: opacity(95%);
  height: 150px;
}

#products h2 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  color: #000000;
  border-bottom: 2px solid #000000;
  border-top: 2px solid black;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#category-section {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  grid-template-rows: repeat(2, 350px);
  gap: 2rem;
  padding: 1rem;
}

.category {
  background-color: rgb(255, 255, 255);
}

.category h3 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  border: 1px solid white;
  padding: 0.5rem 2.5rem;
  backdrop-filter: brightness(50%);
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(48, 4, 68, 0.1254901961);
  height: 100%;
  width: 100%;
}

.backdrop:hover {
  backdrop-filter: blur(10px);
}

.trending {
  grid-column: span 2;
}

#img1 {
  background-image: url(../../public/assets/img/disfraces.webp);
  background-size: cover;
}

#img2 {
  background-image: url(../../public/assets/img/peluches.webp);
  background-size: cover;
  background-position: center;
}

#img3 {
  background-image: url(../../public/assets/img/accesorios.webp);
  background-size: cover;
}

#img4 {
  background-image: url(../../public/assets/img/juguetes.webp);
  background-size: cover;
}

#img5 {
  background-image: url(../../public/assets/img/navidad.webp);
  background-size: cover;
}

#img6 {
  background-image: url(../../public/assets/img/tazas.jpg);
  background-size: cover;
}

footer {
  background-color: rgb(251, 211, 219);
  font-family: "Poppins";
  margin-bottom: 0;
  padding-bottom: 30px;
}
footer a, footer p {
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: lighter;
  line-height: 1.5em;
}
footer h2 {
  font-size: 14px;
  letter-spacing: 0.11em;
  font-weight: lighter;
}
footer .border-right {
  border-right: 1px solid black;
}
footer #redes {
  margin: auto;
  width: fit-content;
}
footer #redes img {
  width: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 15px;
}

#footer_info {
  display: grid;
  width: 1400px;
  grid-template-columns: 1.3fr 1fr 1fr 1fr;
  margin: auto;
}
#footer_info a {
  display: block;
  padding-top: 0.5em;
}
#footer_info #pago {
  padding-right: 30px;
  padding-top: 25px;
  display: grid;
  row-gap: 20px;
}
#footer_info #pago #cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#footer_info #pago #cards img {
  width: 50px;
}
#footer_info #pago #apps {
  display: grid;
  grid-template-columns: 0.5fr 0.55fr;
  column-gap: 30px;
}
#footer_info #online_payments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
#footer_info #online_payments img {
  height: 30px;
  text-align: justify;
}
#footer_info form input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-color: transparent;
}
#footer_info img {
  margin: auto;
}
#footer_info #registro p {
  padding-top: 0px;
  margin-top: 0px;
}
#footer_info .boton {
  background-color: white;
  border-radius: 5px;
}
#footer_info div {
  padding-left: 20px;
  padding-right: 20px;
}

#legal {
  text-align: center;
  padding-top: 40px;
}
#legal p {
  font-size: 12px;
  padding-bottom: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

.menu {
  color: white;
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 1.5rem;
}

.bar {
  backdrop-filter: brightness(50%);
  padding: 0px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.logo {
  background-image: url(../../public/assets/img/logo_disneyStore_blanco.svg);
  background-repeat: no-repeat;
  padding: 30px;
}

li, a {
  text-decoration: none;
}

li {
  list-style: none;
}

.dropdown > .dropdown_two {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: #0096E7;
  position: absolute;
  padding: 0px;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: all 300ms ease;
}

.dropdown:hover > .dropdown_two {
  visibility: visible;
  background-color: rgba(195, 178, 228, 0.7490196078);
  opacity: 1;
}

.nav_drop {
  display: flex;
  justify-content: center;
}

.category_drop {
  margin-right: 20px;
}

.a_dropdown {
  color: white;
  text-transform: uppercase;
  display: block;
  width: 100%;
  height: 100%;
}

.a_dropdown:hover {
  background: #5b78a7;
}

#dropdown .nav_drop .dropdown:hover {
  background: #5b78a7;
}

.a_dropdown a {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

main {
  margin: 5% 5%;
  font-family: "Poppins", sans-serif;
}

#product__main {
  flex-direction: column;
}

.flex_product {
  display: flex;
}

#svh_shere {
  margin-left: 10rem;
}

#svh_heart {
  margin-left: 1rem;
}

.svg_style {
  height: 35px;
  align-items: center;
}

#product_details {
  padding: 5%;
}

#product_img {
  height: 700px;
}

#icons {
  display: flex;
  align-items: center;
}

#review_section {
  align-items: center;
  gap: 2rem;
}

#stars {
  height: 20px;
}

#buy_section {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#buy_section div {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#price {
  font-size: xx-large;
}

#number {
  background-color: white;
  border: 0;
}

#button_buy {
  font-family: "Poppins", sans-serif;
  font-size: large;
  background-color: rgb(251, 211, 219);
  border: 1px solid rgb(251, 211, 219);
  margin-top: 5%;
  height: 3rem;
  width: 30rem;
  justify-content: center;
  align-items: center;
}

.square {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  width: 40px;
  font-size: medium;
  border: 1px solid rgb(251, 211, 219);
  background-color: rgb(251, 211, 219);
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  font-family: "Poppins", sans-serif;
}

#category__main {
  margin: 5%;
}

#category__products {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

main {
  display: flex;
  justify-content: center;
}

#category__section {
  display: grid;
  grid-template-columns: repeat(5, 250px);
  grid-template-rows: repeat(3, auto);
  gap: 5rem;
}

.product__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__image__container {
  display: flex;
  justify-content: center;
}

.card__image {
  height: 250px;
  width: 250px;
  object-fit: contain;
}

.stars {
  height: 20px;
}

.review__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: 800;
  font-size: x-large;
  margin: 0;
}

.card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__heart {
  height: 40px;
  width: 40px;
}

/*# sourceMappingURL=styles.css.map */
